@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  background: rgb(233, 233, 222);
}

.circle {
  border: 0 solid transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}

.circle::before,
.circle::after {
  content: "";
  border: 1em solid #fa334e;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: circle 3s linear infinite;
  opacity: 0;
}

.circle::before {
  animation-delay: 0.3s;
}

@keyframes circle {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.scroll-top {
  display: none;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: #fa334e;
  position: fixed;
  right: 10px;
  bottom: 10px;
  border-radius: 50%;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.335);
  cursor: pointer;
  z-index: 2;
  transform: scale(0.9);
  transition: 0.3s ease-in-out transform;
}

.scroll-top:hover {
  transform: scale(1);
}

.scroll-top svg {
  width: 50%;
  color: #f0f5f9;
  pointer-events: none;
}

#container {
  width: 1100px;
  margin: auto;
  position: relative;
}

/* Logo */

.logo a {
  float: left;
  font-size: 40px;
  font-weight: 700;
  font-family: "comic sans ms";
  color: #f0f5f9;
}

/* Navigasi */

.menu-item {
  float: right;
}

nav {
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 80px;
  position: sticky;
  top: 0;
  z-index: 1;
  background: #222831;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  color: #f0f5f9;
  font-weight: lighter;
  text-align: center;
  padding: 0px 17px 0px 17px;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: line-through;
  color: #f85f73;
}

/* Home And About */

section {
  margin: auto;
  display: flex;
  margin-bottom: 50px;
}

.column,
#home img {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 50px;
}

.column .desc {
  font-size: 20px;
  font-weight: 500;
  font-family: "comic sans ms";
  color: #222831;
}

h2 {
  font-family: "comic sans ms";
  font-weight: 800;
  font-size: 50px;
  margin-bottom: 20px;
  color: #222831;
  width: 100%;
  line-height: 50px;
}

a.btn-home {
  margin-top: 20px;
  padding: 15px 20px;
  color: #fff;
  background: #f85f73;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transform: scale(1);
  transition: 0.3s ease-in;
}

a.btn-home:hover {
  background: #fa334e;
  transform: scale(0.9);
}

p {
  letter-spacing: 1px;
  margin: 10px 0px;
  padding: 10px 0px;
}

/* Menu */

.center {
  text-align: center;
  width: 100%;
}

.menu-list {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.coffe {
  width: 20%;
  margin: 0 auto;
}

.coffe img {
  width: 80%;
  border-radius: 50%;
}

.scale {
  transition: all ease-in 0.3s;
  cursor: pointer;
}

.scale:hover {
  transform: scale(1.1);
}

.coffe p {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  color: #222831;
}

/* Partner */

.partner-list {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.partner-image {
  width: 25%;
  margin: 0 auto;
  filter: grayscale(100%);
  transition: 0.5s all;
}

.partner-image:hover {
  filter: grayscale(0%);
}

.partner-image img {
  width: 200px;
}

/* Contact */

#contact {
  background: #222831;
  padding: 30px 0px;
}

.footer {
  width: 90%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.footer-section {
  width: 20%;
  margin: 0 auto;
}

h3 {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 500;
  width: 100%;
  color: #fff;
  line-height: 20px;
  margin-bottom: 10px;
}

p,
a {
  color: #798777;
  letter-spacing: 1px;
  word-spacing: 1px;
}

/* CopyRight */

#copyright {
  width: 100%;
  text-align: center;
  background: #fff;
  padding: 20px 0px;
  margin-top: 15px;
}

/* Responsive Website */

@media screen and (max-width: 768px) {
  #container {
    width: 90%;
  }

  .logo a {
    display: block;
    width: 100%;
    text-align: center;
  }

  nav .menu {
    width: 100%;
    margin: 0;
  }

  nav .menu ul {
    text-align: center;
    margin: auto;
    line-height: 30px;
  }

  nav .menu ul li {
    display: inline;
    text-align: center;
    padding: 0 2%;
  }

  section {
    display: block;
  }

  section img {
    display: block;
    width: 100%;
    height: auto;
  }

  .menu-list {
    width: 100%;
  }

  .coffe {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .partner-list {
    width: 100%;
  }

  .partner-image {
    width: 50%;
  }

  #footer {
    display: flex;
  }

  .footer-section {
    width: 300px;
  }
}

@media screen and (max-width: 400px) {
  #container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  nav .menu-item {
    display: flex;
    justify-content: space-around!important;
    align-items: center;
    margin: 10px;
    text-align: center;
  }

  .column-partners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center!important;
    margin-right: 2.5rem;
  }

  #copyright p {
    display: block;
    text-align: center;
    margin-top: -4.5em;
  }
}