// Warna Background atau font navigasi
$bgUtama: rgb(34, 40, 49);

// Warna button beranda
$btnDanger: #f85f73;

// Warna button ketika di hover 
$btnHover: rgb(250, 51, 78);

// Warna text utama
$textUtama: rgb(255, 255, 255);

// Warna text kedua
$textDua: rgb(121, 135, 117);

// Warna text footer
$textFoo: rgb(0, 0, 0);